<h2 class="ui center aligned header sectionHeader">Meine Anfragen</h2>
<div class="ui container servicesList">
  <div class="ui relaxed divided items">
    <div *ngIf="user.is_coach" class="ui middle aligned selection divided list">
        <a *ngFor="let timeslot of timeslots | paginate: { itemsPerPage: 10, currentPage: p }" class="item" [routerLink]="'../../services/'+$any(timeslot.service?.id)">
          <div class="ui container timeslot">
            {{timeslot.service?.description}}
            {{timeslot.from}}
            {{timeslot.until}}
            {{timeslot.date}}
            <hr>
            {{timeslot.timeslot_agreement.user.name}}
          </div>
          <button *ngIf="user.is_coach && isLoggedIn() && user.id === timeslot.service?.user_id" (click)="finalizeBooking(timeslot.id, timeslot.service?.user_id!)" class="ui red button">Annehmen</button>
        </a>
    </div>
    <div *ngIf="!user.is_coach" class="ui middle aligned selection divided list">
      <a *ngFor="let timeslot of timeslots | paginate: { itemsPerPage: 10, currentPage: p }" class="item" [routerLink]="'../../services/'+$any(timeslot.service?.id)">
        <div class="ui container timeslot">
          {{timeslot.service?.description}}
          {{timeslot.from}}
          {{timeslot.until}}
          {{timeslot.date}}
          <hr>
          {{timeslot.service?.user?.name}}
        </div>
        <button *ngIf="!user.is_coach && isLoggedIn() && user.id === timeslot.timeslot_agreement.user_id" (click)="removeBooking(timeslot.timeslot_agreement.timeslot_id, timeslot.timeslot_agreement.id, timeslot.timeslot_agreement.user_id)" class="ui red button">Stornieren</button>
      </a>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event" previousLabel="Zurück" nextLabel="Weiter"></pagination-controls>
