<div *ngIf="!isLoggedIn()" class="ui container loginSection">
  <div class="ui container center aligned loginFormHeader">
    <h2 class="ui teal header">
      <img src="assets/logo.png" class="image">
      <div class="content">
       Anmelden
      </div>
    </h2>
  </div>
  <form class="ui large form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="email" id="username" formControlName="username" placeholder="E-Mail">
      </div>
      <div *ngIf="loginForm.get('username')?.invalid &&
        (loginForm.get('username')?.dirty ||
        loginForm.get('username')?.touched) &&
        loginForm.get('username')?.hasError('required')" class="ui negative message">
        Eine E-Mail ist verpflichtend!
      </div>

      <div *ngIf="loginForm.get('username')?.invalid &&
        (loginForm.get('username')?.dirty ||
        loginForm.get('username')?.touched) &&
        loginForm.get('username')?.hasError('email')" class="ui negative message">
        Das E-mail Format ist ungültig!
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <input type="password" formControlName="password" placeholder="Passwort">
      </div>
      <div *ngIf="loginForm.get('password')?.invalid &&
        (loginForm.get('password')?.dirty ||
        loginForm.get('password')?.touched) &&
        loginForm.get('password')?.hasError('required')" class="ui negative message">
       Das Passwort ist ungültig!
      </div>
    </div>
    <div class="ui container center aligned">
      <button type="submit" class="ui button black" [disabled]="loginForm.invalid">Anmelden</button>
    </div>
  </form>
</div>

<div *ngIf="isLoggedIn()">
  <div class="ui container mtb">
    <div class="ui grid container">
      <div class="column bp middle aligned">
        <img class="mb img-logo" src="assets/logo.png">
        <p class="mb">Viel Dank dass du unseren Service nutzt! Auch wenn es für jetzt auf Wiedersehen heißt, hoffen wir dich bald wieder zu sehen, damit du deine akademischen Ziele im Handumdrehen erreichen kannst!</p>
        <button *ngIf="isLoggedIn()" class="ui button black" (click)="logout()">Abmelden</button>
      </div>
      <div class="column bp">
        <div class="logoutImage">
        </div>
      </div>
    </div>
  </div>
</div>
