<div class="ui container section min-height">
  <h2 class="ui center aligned header sectionHeader">Alle Angebote</h2>
  <div class="ui container servicesList">
    <div class="ui relaxed divided items">
      <div class="ui middle aligned selection divided list">
        <a *ngFor="let service of services | paginate: { itemsPerPage: 10, currentPage: p }" class="item kgs-service-list-item" [service]="service" [routerLink]="$any(service.id)">
        </a>
        <div class="ui container center aligned">
          <p *ngIf="services.length === 0">Noch keine Angebote vorhanden!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ui container center aligned">
    <pagination-controls (pageChange)="p = $event" previousLabel="Zurück" nextLabel="Weiter"></pagination-controls>
  </div>
</div>
