<div *ngIf="showBurgerMenu" id="sidebarMenu" class="ui sidebar inverted visible vertical menu">
  <a class="item" (click)="toggleMenu()">X</a>
  <a (click)="toggleMenu()" routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a (click)="toggleMenu()" routerLink="services" routerLinkActive="active" class="item">Services</a>
  <a *ngIf="isLoggedIn()" (click)="toggleMenu()" routerLink="user/services" routerLinkActive="active" class="item">{{getCurrentUser().is_coach ? 'Meine Angebote' : 'Gebuchte Angebote'}}</a>
  <a *ngIf="isLoggedIn()" (click)="toggleMenu()" routerLink="user/pending" routerLinkActive="active" class="item">Ausstehende Bestätigungen</a>
</div>

<div class="ui vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui large secondary menu">
      <a class="toc item" (click)="toggleMenu()">
        <i class="sidebar icon"></i>
      </a>
      <a *ngIf="showNormalMenu" routerLink="home" routerLinkActive="active" class="item hidden-mobile">Home</a>
      <a *ngIf="showNormalMenu" routerLink="services" routerLinkActive="active" class="item hidden-mobile">Services</a>
      <a *ngIf="isLoggedIn() && showNormalMenu" routerLink="user/services" routerLinkActive="active" class="item hidden-mobile">{{getCurrentUser().is_coach ? 'Meine Angebote' : 'Gebuchte Angebote'}}</a>
      <a *ngIf="isLoggedIn() && showNormalMenu" routerLink="user/pending" routerLinkActive="active" class="item hidden-mobile">Ausstehende Bestätigungen</a>
      <div class="right item">
        <span *ngIf="isLoggedIn()" class="profileText"> <i class="user icon"></i>{{getCurrentUser().name}}</span>
        <a *ngIf="isLoggedIn()" (click)="logout()" routerLink="home" routerLinkActive="active" class="ui black button">Logout</a>
        <a *ngIf="!isLoggedIn()" routerLink="login" routerLinkActive="active" class="ui black button">Login</a>
      </div>
    </div>
  </div>
</div>
<div class="banner-image">
  <div class="hero-text">
    <div class="ui text container textContainer">
      <h1 class="ui inverted header">
        KWM Go Student
      </h1>
      <h2>Nachhilfeservice</h2>
    </div>
  </div>
</div>
<!-- page content -->
<router-outlet></router-outlet>
<!--Footer -->
<div class="ui inverted vertical footer segment center aligned" (click)="closeBurger()">
  <div class="ui container">
    <b>KWMGoStudent</b>
    <p>27.05.2022</p>
  </div>
</div>
