<h2 class="ui center aligned header sectionHeader">Neues Angebote erstellen</h2>
<div class="ui container center aligned">
  <button routerLink="new_service" class="ui button">Neues Angebot Erstellen</button>
</div>

<h2 class="ui center aligned header sectionHeader">Meine Angebote</h2>
<div class="ui container servicesList">
  <div class="ui relaxed divided items">
    <div class="ui middle aligned selection divided list">
      <a *ngFor="let service of services | paginate: { itemsPerPage: 10, currentPage: p }" class="item kgs-service-list-item" [service]="service" [routerLink]="'../../services/'+$any(service.id)">
      </a>
      <div *ngIf="services && !services.length && services.length > 0" class="ui active dimmer">
        <div class="ui large text loader">
          Daten werden geladen!
        </div>
      </div>
      <p *ngIf="services.length === 0">Noch keine Angebote vorhanden!</p>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event" previousLabel="Zurück" nextLabel="Weiter"></pagination-controls>
