body{
  font-size: 16px !important;
  color: #1B1C1D;
}
body>.grid {
  height: 100%;
  background-color: #DADADA;
}
.column.login {
  max-width: 450px;
  margin-top: 3em;
  margin-bottom: 3em;
}

/*Header-Navigation*/
.landing-image {
  background-image: url('assets/Banner.jpeg') !important;
  background-size: cover !important;
  height: 30em;
}
@media (max-width: 767px) {
  .item.hidden-mobile {
    display: none !important;
  }
}
@media (min-width: 767px) {
  .toc.item {
    display: none !important;
  }
}
.textContainer{
  background: rgba(0, 0, 0, .4) ;   /*  40% opaque green */
  border-radius: 1em;
  padding: 3em 3em 3em 3em;
  margin-top:3em;
}
.profileText{
  margin-right: 1.5em;
}
/*Header-Navigation*/

/*Login-Page*/
.loginSection{
  margin: 3em 0 3em 0;
  width: 35em !important;
  padding: 1.5em 3em 3em 3em;
  box-shadow: 3px 5px 10px silver;
  border-radius: 1em;
}
.loginFormHeader{
  margin-bottom: 1.5em;
}
.image{
  width: 100px !important;
}
/*Login-Page*/

/*Home-Page*/
.sectionHeader{
  margin-top: 3em !important;
  margin-bottom: 3em !important;
}
.servicesList{
  margin-bottom: 3em;
}
.showMore{
  margin-top: 3em;
}
/*Home-Page*/

.formSection{
  margin-top: 3em;
  margin-bottom: 3em;
}

.mtb{
  margin: 3em 0 3em 0;
}

.ma{
  margin: 3em 3em 3em 3em;
}

.mlr{
  margin: 0 3em 0 3em;
}

.mb{
  margin-bottom: 3em !important;
}

.mt-1{
  margin-top: 1.5em !important;
}

.mb-1{
  margin-bottom: 1.5em !important;
}

.mb-small{
  margin-bottom: 0.5em !important;
}

@media (max-width: 767px) {
  .bp{
    width: 100% !important;
  }
}

@media (min-width: 767px) {
  .bp{
    width: 50% !important;
  }
}

.logoutImage{
  background-image: url('assets/login_cta_image.jpg') !important;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  height: 20em;
}

.img-logo{
 width: 8em;
}

.serviceItem{
  min-height: 10em;
}

.createCta{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 0.5em;
  padding: 2em;
}

.section{
  margin-bottom: 3em;
  margin-top: 3em;
}

.ngx-pagination{
  padding-left: 0 !important;
}

.current{
  background-color: #1B1C1D !important;
}

.acceptButton{
  background-color: teal !important;
  color: white !important;
}

.deleteButton{
  background-color: indianred !important;
  color: white !important;
}

.footer{
  height:7.5em;
}

.footer > div {
  margin-top: 1.25em;
}

.pendingButton{
  margin-top: 0.5em;
  position: relative !important;
}

.pointer:hover{
  cursor:  pointer;
  color: teal;
}

.pointerRed:hover{
  color: indianred;
  cursor: pointer;
}

.detailsImage{
  width:100%;
}

.commentBox{
  margin-top: 3em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 0.5em;
  padding: 2em;
}


@media (max-width: 767px) {
  .mb-sm-form{
    margin-bottom: 0.5em !important;
  }
  .mb-bg-form{
    margin-bottom: 1.5em !important;
  }
  .mt-sm-form{
    margin-top:1.5em !important;
  }
  .mr-sm-form{
    margin-right: 1.5em !important;
  }
}

.min-height{
  min-height: 10em;
}

