<div class="ui container section">
  <button routerLink="../" class="ui black button">Zurück</button>
</div>

<div class="ui container section">
  <h1>{{service.title}}
    <i *ngIf="user.id === service.user_id && user.is_coach" class="edit icon pointer" [routerLink]="['../../user/services', service?.id]"></i>
    <i *ngIf="user.id === service.user_id && user.is_coach && deletable() === 0" class="delete icon pointerRed" (click)="removeService(service.user_id)"></i>
  </h1>
  <img class="ui detailsImage"
       *ngIf="service && service.images && service.images[0]"
       [src]="service.images[0].url">
  <div class="mb-1">{{service.subtitle}} - {{service?.created_at | date:'dd.MM.yyyy'}}</div>
  <div class="ui grid">
    <div class="ui column ten wide computer ten wide tablet sixteen wide mobile">{{service.description}}</div>
    <div class="ui column six wide computer six wide tablet sixteen wide mobile createCta">
      <h2 class="ui center aligned header">Infos zum Anbieter</h2>
      <div class="ui container mtb">
        <p><i class="user icon"></i> {{service.user?.name}}</p>
        <p><i class="mail icon"></i> {{service.user?.email}}</p>
        <p><b>Ausbildung:</b> {{service.user?.degree}}</p>
        <p><b>Beschreibung der Ausbildung:</b> {{service.user?.degree_description}}</p>
      </div>
    </div>
  </div>
</div>

<div class="ui container section">
  <h2>Zeitslots</h2>
  <table class="ui celled table">
    <thead>
    <tr>
      <th>Datum</th>
      <th>Von</th>
      <th>Bis</th>
      <th>Buchung</th>
      <th *ngIf="user.id === service.user_id && user.is_coach">Status</th>
      <th *ngIf="isLoggedIn() && user.id === service.user_id && user.is_coach">Löschen</th>
    </tr>
    </thead>
    <tbody *ngFor="let timeslot of service.timeslots; last as l">
    <td>{{timeslot.date | date:'dd.MM.yyyy'}}</td>
    <td>{{timeslot.from | slice: 0:5}}</td>
    <td>{{timeslot.until| slice: 0:5 }}</td>
    <td>
      <button *ngIf="!timeslot.is_booked && isLoggedIn() && user.id !== service.user_id && !user.is_coach" (click)="setBooked(timeslot.id)" class="ui red button">Buchen</button>
      <span *ngIf="timeslot.is_booked">{{ user.id === service.user_id ? timeslot.timeslot_agreement.user.name : user.id === timeslot.timeslot_agreement.user.id ? 'Timeslot gebucht!' : 'Bereits vergeben!' }}</span>
      <span *ngIf="!timeslot.is_booked && !isLoggedIn()">Bitte logge dich ein um ein Angebot buchen zu können!</span>
      <span *ngIf="!timeslot.is_booked && isLoggedIn()">Noch keine Interessenten!</span>
    </td>
    <td *ngIf="user.id === service.user_id && user.is_coach">
      <ng-container *ngIf="user.is_coach && user.id === service.user_id" [ngSwitch]="timeslot.status">
        <span *ngSwitchCase="0">Noch zu erledigen </span>
        <span *ngSwitchCase="1">Abgesagt </span>
        <span *ngSwitchCase="2">Verschoben </span>
        <span *ngSwitchCase="3">Student:in nicht erschienen </span>
        <span *ngSwitchCase="4">Erfolgreich abgeschlossen </span>
      </ng-container>
      <i *ngIf="isLoggedIn() && showStatus && user.id === service.user_id && user.is_coach" class="edit icon pointer" (click)="toggleForm(timeslot.id); editStatus(user.id, timeslot.id);"></i>
      <form *ngIf="isLoggedIn() && showForm && timeslot.id === currentTimeslot && user.id === service.user_id && user.is_coach" class="ui form" [formGroup]="updateStatusForm" (ngSubmit)="submitNewStatus(timeslot.id)">
        <input type="hidden" formControlName="id">
        <div class="field">
          <label>Status</label>
          <select [(ngModel)]="timeslot.status" formControlName="status">
            <option value="0">Noch zu erledigen</option>
            <option value="1">Abgesagt</option>
            <option value="2">Verschoben</option>
            <option value="3">Student:in nicht erschienen</option>
            <option value="4">Erfolgreich abgeschlossen</option>
          </select>
        </div>
        <button type="submit" class="ui black button" [disabled]="commentForm.invalid">Speichern</button>
      </form>
    </td>
    <td *ngIf="isLoggedIn() && user.id === service.user_id && user.is_coach">
      <button *ngIf="isLoggedIn() && user.id === service.user_id && user.is_coach" class="ui button black" (click)="removeTimeslot(timeslot.id, service.user_id)">Timeslot löschen</button>
    </td>
    </tbody>
  </table>
</div>

<div class="section ui container">
  <h2>Gallerie</h2>
  <div *ngIf="service && service.images" class="ui container section">
    <div class="ui medium images">
      <img *ngFor="let image of service.images" src="{{image.url}}">
    </div>
  </div>
</div>

<div class="ui container section">
  <h2>Kommentare</h2>
  <form *ngIf="isLoggedIn()" class="ui large form" [formGroup]="commentForm" (ngSubmit)="submitForm()">
    <input type="hidden" formControlName="id">
    <div class="field">
      <label>Kommentar</label>
      <textarea rows="3" formControlName="text"></textarea>
    </div>
    <button type="submit" class="ui black button" [disabled]="commentForm.invalid">Speichern</button>
  </form>
  <div class="commentBox">
    <div *ngFor="let comment of service.comments.reverse(), last as l" class="mb-1">
      {{comment.user?.name}}, {{comment.created_at | date:'dd.MM.yyyy'}}, sagt:
      <div class="comment mb-1 mt-1">
        {{comment.text}}
      </div>
      <a *ngIf="user.id === comment.user_id" (click)="editComment(comment.user_id, comment.id)"><i class="edit pointer icon"></i></a>
      <a *ngIf="user.id === comment.user_id" (click)="removeComment(comment.user_id, comment.id)"><i class="delete pointerRed icon"></i></a>
      <hr *ngIf="!l">
    </div>
  </div>
</div>
