<h2 class="ui center aligned header sectionHeader">Neue Angebote</h2>
<div class="ui container servicesList">
  <div class="ui relaxed divided items">
    <div class="ui middle aligned selection divided list">
      <a *ngFor="let service of services" class="item kgs-service-list-item" [service]="service" [routerLink]="'../services/'+$any(service.id)">
      </a>
      <div class="ui container center aligned">
        <p *ngIf="services.length === 0">Noch keine Angebote vorhanden!</p>
      </div>
    </div>
    <div class="ui container center aligned showMore">
      <button routerLink="../services" class="ui button black">Mehr Anzeigen</button>
    </div>
  </div>
</div>
