<div class="serviceItem ui grid middle aligned">
    <div class="ui image column four wide computer four wide tablet sixteen wide mobile">
      <img class="ui thumbnailImage"
           *ngIf="service && service.images && service.images[0]"
           [src]="service.images[0].url">
    </div>
    <div class="content ui column twelve wide computer twelve wide tablet sixteen wide mobile">
    <h2 class="header mb-small">{{service?.title}}</h2>
    <div class="meta mb-small">
      <p>{{service?.subtitle}} - {{service?.user?.name}} - {{service?.created_at | date:'dd.MM.yyyy'}}</p>
    </div>
    <div class="description">
      {{service?.description | slice: 0:250}}{{service?.description?.length! > 250 ? '...' : ''}}
    </div>
    </div>
</div>
