<!--div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="active item">
        Bio
      </a>
      <a class="item">
        Pics
      </a>
      <a class="item">
        Companies
      </a>
      <a class="item">
        Links
      </a>
    </div>
  </div>
  <div class="twelve wide stretched column">
    <div class="ui segment">
      This is an stretched grid column. This segment will always match the tab height
    </div>
  </div>
</div-->

<img class="ui tiny image" *ngIf="service && service.images && service.images[0]" [src]="service.images[0].url">
<div class="content">
  <div class="header" >{{service?.title}}</div>
  <div class="header" >{{service?.subtitle}}</div>
  <div class="header" >{{service?.description}}</div>
</div>

